# Virtual environment
venv/
.venv/
env/


# IDE-specific files
.vscode/
.idea/
index_module/migrations/
hamayesh_module/migrations/
hamayeshProject/migrations/
site_setting/migrations/
uploads/
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local settings and sensitive data
settings/local.py
.env
.env.local

# Database files
db.sqlite3

# Static and media files
staticfiles/
media/

# macOS system files
.DS_Store

# Log files
*.log

# Pytest cache
.pytest_cache/__pycache__/
*.pyc
