<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه مورد نظر یافت نشد </title>
    <link rel="stylesheet" href="/static/css/404_page.css">
</head>
<body>
    <div class="container">
        <img src="/static/images/404.png" alt="خطای 404" class="error-image">
        <h1>404</h1>
        <p>صفحه مورد نظر شما پیدا نشد!</p>
        <p>ممکن است آدرس را اشتباه وارد کرده باشید یا این صفحه وجود خارجی ندارد.</p>
        <a href="/" class="home-button">بازگشت به صفحه اصلی</a>
    </div>
</body>
</html>