{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Basic -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
    <title>{% block title %}{% endblock %}</title>
    {% include 'shared/site_header_references.html' %}
</head>

<body>
    {% render_partial 'index_module.views.site_header_component' %}
    {% block content %}{% endblock %}
    {% render_partial 'index_module.views.site_footer_component' %}
    {% include 'shared/site_footer_references.html' %}
</body>

</html>