<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <img class="site-logo" src="/static/images/logo.png" alt="">
                {#                <button class="navbar-toggler" type="button" data-toggle="collapse"#}
                {#                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"#}
                {#                        aria-expanded="false" aria-label="Toggle navigation">#}
                {#                    <span class="s-1"> </span>#}
                {#                    <span class="s-2"> </span>#}
                {#                    <span class="s-3"> </span>#}
                {#                </button>#}
                <button class="menu-toggle" id="menu-toggle" style="display: none">
                    <i class="fas fa-bars"></i>
                </button>
                <!-- منوی سایدبار -->
                <nav class="sidebar">
                    <div class="sidebar-header">
                        {% if request.user.is_authenticated %}
                            <div class="sidebar-avatar">
                                <i class="fas fa-user"></i>
                            </div>
                            <h2>{{ request.user.get_full_name }}</h2>
                            <p>!خوش آمدید</p>
                        {% else %}
                            <h2 style="position: relative; right:20px">منوی سایت</h2>
                        {% endif %}
                    </div>
                    <div class="sidebar-menu" dir="rtl">
                        <ul>
                            <li><a href="/"><i class="fas fa-home mr-1"></i> صفحه اصلی</a></li>
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'profile' %}"><i class="fas fa-user mr-1"></i> حساب کاربری</a></li>
                                <li><a href="{% url 'new_article' %}">
                                    <i class="ml-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-file-plus">
                                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                        <polyline points="14 2 14 8 20 8"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="12"></line>
                                        <line x1="9" y1="15" x2="15" y2="15"></line>
                                    </svg></i>
                                    ثبت مقاله جدید</a></li>
                                <li><a href="/static/Form_Negaresh_Maghale.docx" download=""><i
                                        class="fa-solid fa-file-invoice mr-1"></i> سربرگ و فرم نگارش </a></li>
                                {% if request.user.is_superuser %}
                                    <li><a href="{% url 'management' %}"><i class="fa-solid fa-gauge mr-1"></i>مدیریت و
                                        گزارشات</a></li>
                                    <li><a href="/admin"><i class="fa-solid fa-gear mr-1"></i>پنل ادمین
                                        سایت</a></li>
                                {% endif %}
                                <li><a href="{% url "logout" %}"><i class="fas fa-sign-out-alt"></i> خروج</a></li>
                            {% else %}
                                <li><a href="{% url "signup" %}"><i class="fa-solid fa-user-plus mr-1"></i> ثبت نام</a>
                                </li>
                                <li><a href="{% url "login" %}"><i class="fa-solid fa-right-to-bracket mr-1"></i> ورود
                                </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

                <div class="overlay"></div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center custom-navbar"
                             style="margin-top:10px">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/" id="home-link">صفحه
                                        اصلی<i class="fas fa-home ml-1"></i><span
                                                class="sr-only">(current)</span></a>
                                </li>
                                {% if not request.user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'signup' %}" id="register-link">
                                            ثبت نام<i
                                                class="fa-solid fa-user-plus ml-1"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'login' %}" id="register-link">
                                            ورود<i
                                                class="fa-solid fa-right-to-bracket ml-1"></i></a>
                                    </li>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'management' %}" id="account-link">مدیریت و گزارشات<i
                                                    class="fa-solid fa-gauge ml-1"></i></a>
                                        </li>
                                            <li class="nav-item">
                                            <a class="nav-link" href="{% url 'generate_certificate' %}" id="account-link">ساخت تقدیر نامه<i
                                                    class="fa-solid fa-gauge ml-1"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin" id="account-link">پنل ادمین سایت<i
                                                    class="fa-solid fa-gear ml-1"></i></a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'profile' %}" id="account-link">حساب کاربری<i
                                                class="fas fa-user ml-1"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'new_article' %}" id="account-link">
                                            ثبت مقاله
                                            جدید<i class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-file-plus">
                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                                <polyline points="14 2 14 8 20 8"></polyline>
                                                <line x1="12" y1="18" x2="12" y2="12"></line>
                                                <line x1="9" y1="15" x2="15" y2="15"></line>
                                            </svg></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/static/Form_Negaresh_Maghale.docx" id="account-link"
                                           download="">سربرگ و فرم نگارش<i
                                                class="fa-solid fa-file-invoice ml-1"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}" id="account-link">خروج<i class="fas fa-sign-out-alt ml-1"></i></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="quote_btn-container ">
                        <a href="">
                            <img src="/static/images/call.png" alt="">
                            <span>
                  تماس : {{ site_setting.phone_number }}
                </span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- slider section -->
        <section class=" slider_section ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="detail_box">
                                        <h1 id>
                                            {{ site_setting.hamayesh_title }}
                                        </h1>
                                        <p>
                                            {{ site_setting.hamayesh_detail }}
                                        </p>
                                        {% if not request.user.is_authenticated %}
                                            <div class="btn-box">
                                                <a href="{% url 'signup' %}" class="btn-1">
                                                    ثبت نام
                                                </a>
                                                <a href="{% url 'login' %}" class="btn-2">
                                                    ورود
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="{{ site_setting.poster.url }}" alt="" class="poster"
                                             style="border-radius: 20%;"
                                             id="poster">
                                        <label for="poster"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
</div>
  