{% extends 'shared/layout.html' %}
{% block title %}
    ارسال مقاله
{% endblock %}
{% block content %}
    <style>
        .custom-body {
            font-family: 'Vazir', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
            direction: rtl;
            text-align: right;
        }
        .custom-form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            direction: rtl;
        }
        .custom-form-group {
            margin-bottom: 15px;
        }
        .custom-form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .custom-form-group input,
        .custom-form-group select,
        .custom-form-group textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .custom-submit-button {
            background-color: #6f42c1; /* رنگ آبی مایل به بنفش */
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 4px;
            cursor: pointer;
        }
        .custom-submit-button:hover {
            background-color: #5a32a1; /* رنگ تیره‌تر برای حالت هاور */
        }
    </style>
<body class="custom-body">
    <div class="custom-form-container">
        <h2>فرم ارسال مقاله</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="custom-form-group">
                {{ article_form.as_p }}
            </div>
            <div class="custom-form-group">
                {{ author_form.as_p }}
            </div>
            <button type="submit" class="custom-submit-button">ارسال مقاله</button>
        </form>
    </div>
</body>
{% endblock %}
